NODE_ENV=production
PORT=8080
AUTH_SERVICE_URL=http://localhost:3001
AUTH_SERVICE_HEALTH=http://localhost:3001/health
DOCUMENT_SERVICE_URL=http://localhost:3002
DOCUMENT_SERVICE_HEALTH=http://localhost:3002/health
MESSAGE_SERVICE_URL=http://localhost:3003
MESSAGE_SERVICE_HEALTH=http://localhost:3003/health
CORS_ORIGIN=http://localhost:3000
